/*HTML tags*/
:root {
  --primaryColor: #ff4646;
  --secondaryColor: #fff5c0;
  --thirdColor: #ffb396;
}

hr {
  border-style: dotted none none;
  width: 10%;
  border-color: #ff8585;
  border-width: 5px;
  margin-top: 2rem;
}

body {
  margin: 0px;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--thirdColor);
  line-height: 1.5;
  font-family: "Mali";
}

::-webkit-scrollbar {
  display: none;
}

/*icons*/
.fa-heart {
  position: absolute;
  top: -20px;
  left: 0px;
  animation: fall linear forwards;
  color: var(--thirdColor);
  z-index: 3;
}

/*Section feliz-aniv*/
#feliz-aniv {
  text-align: center;
}

.presentacion {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/foto-2.jpg);
  background-position: center center;
  background-size: cover;
}

.texto {
  text-align: center;
  padding-right: 20%;
  padding-left: 20%;
  z-index: 2;
  color: var(--thirdColor);
}

.big-heading {
  font-size: 4rem;
  font-weight: 700;
  padding-bottom: 3rem;
}

.big-desc {
  font-size: 1.5rem;
}

/*Section datos*/
#datos {
  text-align: center;
}

.container-datos {
  width: 100vw;
  padding-top: 80px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 80px;
  position: relative;
}

.heading-datos {
  font-size: 2.3rem;
  color: var(--primaryColor);
}

.fin-datos {
  font-size: 1.8rem;
}

.icono-dato {
  font-size: 300%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem 0 1.2rem 0;
}

.row-datos {
  margin-top: 6.5%;
  margin-bottom: 6.5%;
  color: var(--secondaryColor);
}

.dato {
  font-size: 1.5rem;
  margin: 1% 0 2% 0;
}

/*Section momentos*/
.container-momentos {
  display: flex;
  flex-direction: column;
}

.row-momentos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  align-items: center;
  justify-content: center;

}

.row-momentos-reverse {
  flex-direction: row-reverse;
}

.from-left {
  transform: translateX(-70%);
}

.from-right {
  transform: translateX(70%);
}

.from-left,
.from-right {
  transition: opacity 1000ms ease-in,
  transform 400ms ease-in;
  opacity: 0;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0);
  opacity: 1;
}

.row-momentos>img {
  margin: 2rem;
  width: 330px;
  height: 330px;
}

.row-momentos>p {
  margin: 2rem;
  font-size: 1.2rem;
  width: 20rem;
  text-align: justify;
  color: var(--secondaryColor);

}

.heading-momentos {
  margin: 5rem auto 5rem auto;
  padding-left: 1rem;
  padding-right: 1rem;
  color: var(--primaryColor);
}

.heading-momentos>h2 {
  font-size: 2.3rem;
}

/* Sección timeline */

.heading-timeline {
  margin-top: 5rem;
  text-align: center;
  display: inline-block;
  justify-content: center;

  width: 80%;
  color: var(--primaryColor);
}

.heading-timeline h2 {
  font-size: 2rem;
}

.img-timeline {
  max-width: 14rem;
  height: 10rem;
  margin-bottom: 1rem;
}


.container-timeline {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  color: var(--secondaryColor);
}

.timeline ul {
  list-style: none;
  padding: 0;
}

.timeline ul li {
  padding: 1.2rem;
  border-radius: .7rem;
  margin-bottom: 1.2rem;
  background-color: #ff8585;
}

.content-timeline h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;

}

.content-timeline p {
  font-size: 1rem;
  font-weight: 400;
}

/*--Media or keyframes queries */
@media only screen and (min-width: 768px) {
  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primaryColor);
  }

  .timeline ul li {
    width: 50%;
    margin-bottom: 3rem;
    position: relative;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 1.2rem 0 1.2rem 1.2rem;
    text-align: right;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0 1.2rem 1.2rem 1.2rem;
  }

  .timeline ul li::after {
    content: "";
    position: absolute;
    height: 1.1rem;
    width: 1.1rem;
    background-color: gray;
    border-radius: 50%;
    top: 0;
  }

  .timeline ul li:nth-child(odd)::after {
    right: -30px;
    transform: translate(50%, -50%);
  }

  .timeline ul li:nth-child(even)::after {
    left: -30px;
    transform: translate(-50%, -50%);
  }

  .timeline ul li:hover:after {
    background-color: aqua;
  }
}

/* Section final */

.final-texto{
  padding: 0 5rem 0 5rem;
  margin: 4rem 0 4rem 0;
}

.final-texto p{
  color: var(--secondaryColor);
  font-size: 1.7rem;
}

/*Section despedida*/

.despedida-texto{
  color: var(--primaryColor);
}

.despedida-texto h4 {
  margin: 5rem 0 4rem 0;
}

.despedida-texto h1{
  margin: 12rem 0 12rem 0;
  font-size: 5rem;
  font-weight: 700;
}

@media (max-width: 400px) {
  .big-heading {
    font-size: 2.2rem;
  }

  .big-desc {
    font-size: 1.3rem;
  }

  .heading-datos {
    font-size: 1.7rem;
  }

  .row-momentos>img {
    width: 250px;
    height: 250px;
  }

  .heading-timeline h2 {
    font-size: 1.5rem;
  }
  
  .final-texto p{
    font-size: 0.85rem;
  }

  .final-texto {
    padding: 0 2rem 0 2rem;
  }
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
